body{
    background-image: url(http://localhost/elinkemployeedirectory/public/img/002-subtle-light-pattern-background-texture.jpg);
}
.btn{
	border-radius: 0px !important;
}

.btn .btn-primary{
	background-color: #36bae2 !important;
}
.btn .btn-primary:hover{
	background-color: #1da0c8 !important;
}
.panel{
	border-radius: 0px !important;
}
/* DATATABLE CSS */
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid transparent !important;
}
table.dataTable.no-footer {
    border-bottom: 1px solid transparent !important;
}
table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: transparent !important;
}
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: transparent !important;
}
.dataTables_length{
    display: none;
}
#employees_table_wrapper{
    margin-top: -50px;
    padding-top: 20px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 30px;
    margin: 10px;
}
#employees_table_wrapper input[type="search"] {
    background-color: white;
    border: 1px solid #ededed;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    font-weight: 500 !important;
}

a.paginate_button.current {
    border-radius: 0px !important;
    border: 1px solid #d2d2d2 !important;
    background: white !important;
    font-size: 12px !important;
}
a.paginate_button:hover {
    background: #a5a5a5 !important;
    color: #ada0a0 !important;
    border: 1px solid #f5f3f3 !important;
    font-size: 12px !important;
}
div#employees_table_info {
    font-size: 12px !important;
}
a#employees_table_previous {
    font-size: 12px !important;
}
a#employees_table_next {
    font-size: 12px !important;
}
div#employees_table_filter label {
    font-weight: 400 !important;
}
a.paginate_button {
    font-size: 12px !important;
}
#employees_table tbody td {
    font-size: 13px;
}
.label-profile i{
    font-size: 14px;
}

/* END DATATABLE CSS */

.message-success{
    color: green;
}
.message-error{
    color: red;
}

input[type=text], input[type=password],input.form-control{
    border-radius: 0px !important;
    height: 40px !important;
}

h1.page-header{
    margin-left: 20px;
}
.modal-content{
    border-radius: 0px !important;
}

input[type=radio]{
    cursor: pointer;
}

label#bb{ 
    padding: 10px;
    display: table;
    background-color: buttonface;
    color: #2a2a2a;
    }
input[type="file"]#image_uploader {
    display: none;
}

/*********** SELECT 2 **************/
.select2-container--default .select2-selection--single {
    background-color: #fff !important;
    border: 1px solid #ddd !important;
     border-radius: 0px !important; 
    height: 40px !important;
    padding: 5px; 
}   
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    margin-top: 5px !important;
}


/* Form Validation */
label.error {
    color: red;
    font-weight: 500 !important;
    font-size: 13px;
    margin-left: 6px;
    margin-top: 5px;
}
#supervisor_id-error{
    margin-top: 70px;
    position: absolute;
    margin-left: -77px;
}
#team_name-error {
     margin-top: 70px;
    position: absolute;
    margin-left: -132px;
}
.radio-label{
    font-weight: 500 !important;
    color: #222;
    cursor: pointer;
}
.asterisk-required:after{
    content: " *";
    color: red;
    font-weight: 700 !important;
}
.header-list{
    list-style: none;
    display: inline-flex;
    background-color: #30a5ff;
    width: 100%;
    margin-bottom: 0px;
}
.header-list li, .header-list li a{
    padding: 15px;
    margin-left: 10px;
    color: white;

}
.header-list li a:hover{
    text-decoration: none;
    background-color: #70bbf5;
}
.header-list li.active a{
    text-decoration: none;
    background-color: #70bbf5;
}
.header-list li:first-child{
    margin-left:50px;
}
.dropdown{
    border-radius: 0px !important;
}