body{
    background-image: url(http://localhost/elinkemployeedirectory/public/img/002-subtle-light-pattern-background-texture.jpg);
}
.btn{
	border-radius: 0px !important;
}

.btn .btn-primary{
	background-color: #36bae2 !important;
}
.btn .btn-primary:hover{
	background-color: #1da0c8 !important;
}
.panel{
	border-radius: 0px !important;
}